

  <div class="well" style="background-color: white;">


    <%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(user.errors.count, "error") %> </h5>

      <ul class="text-danger">
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <form class="">

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


</form>

<%= link_to 'Back', users_path %>

  </div>

