<div class="" style="background-color: white;">



<%= form_with(model: micropost, local: true) do |form| %>
  <% if micropost.errors.any? %>
    <div id="error_explanation">
      <h6><%= pluralize(micropost.errors.count, "error") %> </h6>

      <ul class="text-danger">
      <% micropost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form>
  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, id: :micropost_content, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :micropost_user_id, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit  %>
  </div>
<% end %>

</form>
</div>