@import "bootstrap-sprockets";
@import "bootstrap";


.navbar-default {
	background-color: #286090;
	
}

.navbar-default .navbar-brand {
    color: white;
}

.form-control{
	width:50%;
}

.navbar-default .navbar-nav > li > a {
    color: #fbf6f6;
}

.footer{
	background-color: #286090;
	height:45px;
	color:white;
}

.footer h5{
	padding-top:10px;
}

