<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Toyapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name ="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    
    <header >
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to "Toyapp", root_path, class: "navbar-brand" %>
          </div>
        <ul class="nav navbar-nav navbar-right">
     
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Microposts", microposts_path %></li>
          
               
        </ul>
      </div>
</nav>
</header>




<section>
  <div id="flash">
      
        <div class="flash"></div>
  </div>
</section>

    <%= yield %>
 

 



 <div class="footer navbar=fixed-bottom">
        <h5 class="text-center">&copy Copyrights 2018. Toyapp</h5>
    </div>
  </body>
</html>
